

{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Habitantes {% endblock %}

{% block content %}
	{% if habitante %}
	<div class="container" style="padding-top: 50px;color:#424242">
		<div class="table-response">
		<div align="center"><h3>Habitantes de la comunidad</h3></div>
			<table class="table table-striped table-bordered table-hover">
				<tr class="info">
					<th>Nombres</th>
					<th>Edad</th>
					
				</tr>
		{% for h in fecha %}
		
				<tr>
					<td>{{h.nombres}} {{h.apellidos}}</td>
					<td>{{h.fecha_nac}}</td>
					<td><a href="/carnet/habitante/{{h.id}}" class="btn btn-default">Editar</a></td>
					
				</tr>
			
			
	
		{% endfor %}

			</table>
		
		</div>
	</div>
	{% else %}

	{% endif %}
{% endblock %}